File Name: requirements.txt
Name:   Magnus Harboe
        Athena Enosara
        Andrew Marmolejo
        Guadalupe Cisneros
Due Date: 5 / 13 / 19
Description: This file outlines the requirements for the project. 



Dependencies needed to run the application:

        ○ Flask           1.0.2
        ○ Flask-Bootstrap 3.3.7.1
        ○ Flask-WTF       0.14.2
        ○ requests        2.21.0
        ○ WTForms         2.2.1
        ○ Python          2.7.15








