<!--
Athena Enosara
Partners: Andrew Marmolejo, Magnus Harboe, Andrew M., Guadalupe
Due Date: May 13, 2019
Final Project 

Description: This is the html code of the assigment that shows up on the first page of the webpage.
-->
{% extends 'bootstrap/base.html' %}
{% block title %}
  Team Project: Search Page
{% endblock %}

{% block content %}
	<head>My Template File</head>

		<body>
		    <h1>Welcome!</h1>
		    <p>This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. This is my template. </p>
		</body>
{% endblock %}  