<!--

   File Name: contact.html   
   Template File:   This page will display the
                    contact information of the 
                    program's authors. 
                                                                                              
   Authors: Andrew Marmolejo
            Athena Enosara
            Magnus Harboe
            Guadalupe Cisneros

   Date: May 13th, 2019                                                                 
   Course: CST 205    

-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <section>
      <!--Navigation bar-->
      <div class="nav-bar">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">HOME </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">SEARCH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">ACCOUNT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addrecipe">ADD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">
				<div style='bottom-margin: 10%; top-margin: 5%; left-margin: 25%; font-size: 30px;'>
					<h1 class= "underline bold">Contact us:</h1>
						<p><img src="../static/css/img/Athena.jpg" style='width: 8%; height: auto;'><br>
						<b>Athena Enosara:</b> aenosara@csumb.edu<br>
						Communication Deign Major with a conentration in Web Design<br>
						Computer Science Minor</p>

						<p><img src="../static/css/img/Andrew.jpg" style='width: 8%; height: auto;'><br>
						<b>Andrew Marmolejo:</b> amarmolejo@csumb.edu<br>
						Major</p>

						<p><img src="../static/css/img/Lupe.png" style='width: 8%; height: auto;'><br>
						<b>Guadalupe Cisneros:</b> gcisneros@csumb.edu<br>
						Computer Science Major with a concentration in Software Engineering</p>

						<p><img src="../static/css/img/Magnus.jpg" style='width: 8%; height: auto;'><br>
						<b>Magnus Harboe:</b> mharboe@csumb.edu<br>
						Major</p>
				</div>
			</div>
    </section>
  </body>
</html>
