<!-- contact.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAQ + Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <section>
      <!--Navigation bar-->
      <div class="nav-bar">
        <nav class="navbar navbar-expand-lg">
          <!-----MANGLER LOGO--->
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link" href="/">HOME </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/recipes/2/2">SEARCH</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="">ADD</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">
        <h1>Welcome! Have some questions?</h1>
          <p>Here is where the most frequently asked questions can be answered. If there is a question that you want to be answered, scroll to the very bottom and feel free to contact us for the answer!</p>

        <h3>Do I have to create an account?</h3>
          <p> No, you do not need to create an account to use the app. However, you will need to make an account if you want to save any of the recipes.</p>

        <h3>Can I save my favorite recipes?</h3>
              <p> Yes, if you want to save your favorite recipes you need to create an account.</p>

        <h3>How can I save a recipe? </h3>
          <p>Simply click on the save button. Next time you log in you will be able to access all the recipes.</p>

        <h3> Can I add my own recipes? </h3>
          <p> Yes, only users who have an account can add their own recipes. </p>

          <h3> Can I organize my saved recipes by category? </h3>
          <p> No, all your saved recipes will displayed in a single list </p>

          <h3> Can I search recipes by name? (ex: lasagna, chicken, ) </h3>
           <p> Yes, if you choose to search by name you will get multiple results that match your request.</p>
        <h1 class= "underline bold">Contact us:</h1>
        <ul>
          <li><b>Athena Enosara:</b> aenosara@csumb.edu</li>
          <li><b>Andrew Marmolejo:</b> amarmolejo@csumb.edu</li>
          <li><b>Guadalupe Cisneros:</b> gcisneros@csumb.edu</li>
          <li><b>Magnus Harboe:</b> mharboe@csumb.edu</li>
        </ul>
      </div>
    </section>
  </body>
</html>
