<!--

   File Name: faq.html   
   Template File:   This page will display frequently
                    asked questions, & answers to 
                    them. 
                                                                                              
   Authors: Andrew Marmolejo
            Athena Enosara
            Magnus Harboe
            Guadalupe Cisneros

   Date: May 13th, 2019                                                                 
   Course: CST 205    

-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <section>
			
      <!--NAVIGATION BAR-->
      <div class="nav-bar">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
						<!-- NAV BUTTON LIST -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">HOME </a>
              </li>
							
              <li class="nav-item">
                <a class="nav-link" href="/search">SEARCH</a>
              </li>
							
							<li class="nav-item">
                <a class="nav-link" href="/login">ACCOUNT</a>
							</li>		
							
							<li class="nav-item">
                <a class="nav-link" href="/addrecipe">ADD</a>
              </li>
							
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
							
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
						<!-- END OF NAV BUTTON LIST -->
          </div>
        </nav>
      </div>
			<!-- END OF NAVIGATION BAR -->
			
			
			
			<!-- PAGE CONTENT -->
      <div class="container">
				
				<!--PAGE HEADER-->
				<div class="border-solid" style='width: 25%; margin-left:50px; border-bottom: 5px solid black;'>
						<h1>Welcome! Have some questions?</h1>
							<p>Here is where the most frequently asked questions can be answered. If there is a question that you want to be answered, scroll to the very bottom and feel free to contact us for the answer!</p><br>
				</div>
				<!-- END OF PAGE HEADER -->

        <!-- PAGE BODY -->
				<div style='width: 75%; margin-left: 75px;'>
					<h2>Do I have to create an account?</h2>
						<p class="small-text">No, you do not need to create an account to be able to use the app. The app is free to use to any who wishes to find the perfect recipe. However, you will need to make an account if you want to save any of the recipes that you have found. The account's purpose is only so that the recipes can be saved. You can also make your own recipes to add to your saved recipes.</p>

					<h2>Can I save my favorite recipes?</h2>
						<p class="small-text">Yes, you can save your favorite recipes, but you will need to create an account to do so.</p>

					<h2>How can I save a recipe? </h2>
						<p class="small-text">Simply click on the save button of the specified recipe you wish to save. Then, the next time you log in you will be able to access all the recipes.</p>

					<h2> Can I add my own recipes? </h2>
						<p class="small-text"> Yes, you can add your own recipes to your account. However, only users who have an account can add their own recipes. </p>

					<h2> Can I organize my saved recipes by category? </h2>
						<p class="small-text"> No, you can't organize your recipes by category. All the saved recipes for your account will be displayed in a single list.</p>

					<h2> Can I search recipes by name? (ex: lasagna, chicken) </h2>
						<p class="small-text"> Yes, you can search recipes by the recipe title. If you choose to search by name you will get multiple results with different variations that match your search request.</p>
        </div><br><br>
				<!-- END OF PAGE BODY -->

				<!--"FOOTER"-->
				<div class="top-border">
					<!--"FOOTER" CONTENT-->
					<div class="font-black">
						<h1 class="underline bold">Contact us:</h1>
						<ul>
							<li><b>Athena Enosara:</b> aenosara@csumb.edu</li>
							<li><b>Andrew Marmolejo:</b> amarmolejo@csumb.edu</li>
							<li><b>Guadalupe Cisneros:</b> gcisneros@csumb.edu</li>
							<li><b>Magnus Harboe:</b> mharboe@csumb.edu</li>
						</ul>
					</div>
				</div>
				<!-- END OF "FOOTER"-->
					
			</div>
			<!--END OF PAGE CONTENT-->

		</section>
	</body>
</html>
