<!--

   File Name: recipes.html   
   Template File:   This page will display five 
                    search results. 
                                                                                              
   Authors: Andrew Marmolejo
            Athena Enosara
            Magnus Harboe
            Guadalupe Cisneros

   Date: May 13th, 2019                                                                 
   Course: CST 205    

-->
{% extends 'bootstrap/base.html' %}
{% block title %}
	Hungy - Recipes
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <section>
      <!--Navigation bar-->
      <div class="nav-bar">
        <nav class="navbar navbar-expand-lg">
          <!-----MANGLER LOGO--->
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">HOME </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">SEARCH</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">ACCOUNT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addrecipe">ADD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">

        <h1>Recipe Results <br><small>Here is the recipes that best fits what you have.</small></h1>

        {% if data %}
          {% for recipe in data %} <!-- getting all 'keys' from the json object -->
            <div class="recipe-box col-md-6">
              <a href="/recipes/{{recipe['id']}}"><h3>{{recipe['title']}}</h3> <!-- getting the 'value' of the 'key' 'title' from the json object -->
              <div><img src="{{recipe['image']}}" alt="" width="300"  class="img-rounded"></div>
              <div><small>this recipe has {{recipe['likes']}} likes</small></div>
              <p>{{recipe['usedIngredients']['originalName']}}</p></a>
            </div>

          {% endfor %}
        {% else %}
          no data
        {% endif %}

      </div>
    </section>
  </body>
</html>
{% endblock %}
