<!-- reipies_info.html -->
{% extends 'bootstrap/base.html' %}

{% block title %}
  Recipe_info
{% endblock %}

{% block content %}
<div class="container">

  <h1>Recipes <br><small>Here is the recipes that best fits what you have</small></h1>

  {% if data %}
    {% for i in data %} <!-- getting all 'keys' from the json object -->
      <br>
      <h3>{{i['title']}}</h3> <!-- getting the 'value' of the 'key' 'title' from the json object -->
      <div><img src="{{i['image']}}" alt="" width="300"  class="img-rounded"></div>
      <div><small>instructions: {{i['instructions']}}</small></div>
      <p></p></a>
      <br><br>
    {% endfor %}
  {% else %}
    no data
  {% endif %}

</div>
{% endblock %}
